<div class="connectionForm">
  <h2>Editer son profil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :pseudo %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>   
<!-- :first_name, :last_name, :place, :birthday_date, :username -->
  <div class="field">
    <%= f.label :prénom %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>  
  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>    
  <div class="field">
    <%= f.label :adresse %><br />
    <%= f.text_field :place, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true %>
  </div> 
  <div class="field">
    <%= f.label :date_de_naissance %><br />
    <%= f.date_select :birthday_date, autofocus: true %>
  </div>      
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>



  <div class="field">
    <%= f.label :mot_de_passe %> <i>(veuillez entrer votre mot de passe pour valider les modifications)*</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Editer" %>
  </div>
<% end %>

<h3>Supprimer mon compte</h3>

<p>Déçu de Metronome ? <div class="delete"><%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div></p>

</div>
