<div class="connectionForm">
<h2>Inscription</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :pseudo %><br />
    <%= f.text_field :username, autofocus: true %>
  </div> 

  <div class="field">
    <%= f.label :mot_de_passe %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> charactères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

    <b><%= f.submit "S'inscrire" %><b/>

<% end %>

</div>
