	<div class="landing">	
		<div class="logo-metronome"><%= image_tag "logo_white.svg" %></div>	
		<div class="btnLogo">Metronome</div>
		<hr class="separateur"/>
		<!--H2 est le titre du module recherche événements-->
		<h2 class="baseline"><b>Le meilleur</b> <br/>des événements musicaux <br/><b>à portée de tweet</b></h2>

	</div>
