

<div class="row">
	<div class="col-md-3">
		<% if current_user %>
		<div class="leftSide">
		<div class="avatar">	
		<%= image_tag @user.avatar.url(:thumb) %>
		</div>
		<h2><%= @user.first_name %> <%= @user.last_name %></h2>
		<h2>@<%= @user.username %></h2>
		<p>Nombre de following : </p>
		<div class="nb"><%= @user.following.count %></div>
		<p>Nombre de followers : </p>
		<div class="nb"><%= @user.followers.count %></div>
		</div>
		<% end %>
	</div>


	<div class="col-md-7 centerSide">
		<div class="searchForm">
			<h3>Trouver les meilleurs éléments en temps réel</h3>
			<%= form_tag searches_path,  class: 'navbar-form', method: :get do  %>
			<div class="form-group">
				<%= text_field_tag :search_music, params[:search_music], class: 'form-control input-music', placeholder: 'Music' %>
				<%= text_field_tag :search_place, params[:search_place], class: 'form-control input-place', placeholder: 'Place' %>
			</div>
			<%= submit_tag 'Search', class: 'btn btn-default' %>
			<% end %>
		</div>


		<% @tweets.each do |tweet| %>
		<div class="well">
			<div class="media">
				<a class="pull-left" href="#">
					<div class="avatarSmall">
					<%= image_tag tweet.user.avatar.url(:small) %>
					</div>
				</a>
				<div class="media-body">
					<h4 class="media-heading"><%= "#{tweet.user.first_name} #{tweet.user.last_name}"%> <small><%= link_to( "@#{tweet.user.username} " , "/users/#{tweet.user.id} ")%></small> </h4>
					<p><%= content_hashtag_link(tweet.content) %></p>
					<ul class="list-inline list-unstyled">
						<li><span><i class="glyphicon glyphicon-calendar"></i> <%= link_to(time_ago_in_words(tweet.created_at), "/tweets/#{tweet.id} ") %></span></li>
						<% if current_user %>
						<li><span><i class="glyphicon glyphicon-star"></i> 
							<% unless current_user.favorite_tweets.exists?(id: tweet.id) %>
								<%= link_to 'Ajouter aux favoris', favorite_tweets_path(tweet_id: tweet), method: :post %>
							<% else -%>
								<%= link_to 'Supprimer des favoris', favorite_tweet_path(tweet), method: :delete %>
							<% end %>
						</span></li>
						<% end %>
						<li><span><i class="glyphicon glyphicon-music"></i> <%= tweet.music.name %></span></li>
						<li><span><i class="glyphicon glyphicon-globe"></i> <%= tweet.place.name %></span></li>
					</ul>
				</div>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-md-2"></div>
</div>







