<div class="row">

	<div class="col-md-3 leftSide">
		<div class="avatar">
			<%= image_tag @user.avatar.url(:thumb) %>
		</div>
		<h2><%= @user.first_name %> <%= @user.last_name %></h2>
		<h2>@<%= @user.username %></h2>
		<p>Nombre de following : </p>
		<div class="nb"><%= @user.following.count %></div>
		<p>Nombre de followers : </p>
		<div class="nb"><%= @user.followers.count %></div>
	</div>
	<div class="col-md-7 centerSide searches">	
		<div class="centerSide tweetForm">
			<h3>Partager vos impressions musicales du moment !</h3>
			<%= form_for @new_tweet, url: {action: "create"} do |f| %>
			<%= f.text_area :content %>
			<br />
			Lieu : <%= f.collection_select :place_id, Place.all,:id,:name, include_blank: true %>
			Musique : <%= f.collection_select :music_id, Music.all,:id,:name, include_blank: true %>
			<%= f.submit "Tweeter !" %>

			<% end %>

		</div>
	</div>
	<div class="row">

		<div class="col-md-2 ">
		</div>