<div class="row">
	<div class="col-md-3 leftSide">
		<div class="avatar">
		<%= image_tag @user.avatar.url(:thumb) %>
		</div>
		<h2><%= @user.first_name %> <%= @user.last_name %></h2>
		<h2>@<%= @user.username %></h2>
		<p>Nombre de following : </p>
		<div class="nb"><%= @user.following.count %></div>
		<p>Nombre de followers : </p>
		<div class="nb"><%= @user.followers.count %></div>
		<%= render 'follow_form' if current_user %>
	</div>


	<div class="col-md-7 centerSide">
		<% @tweets.each do |tweet| %>
		<div class="well">
			<div class="media">
				<a class="pull-left" href="#">
				</a>
				<div class="media-body">
					<h4 class="media-heading"><%= "#{tweet.user.first_name} #{tweet.user.last_name}"%> <small><%= link_to( "@#{tweet.user.username} " , "/users/#{tweet.user.id} ")%></small> </h4>
					<p><%= content_hashtag_link(tweet.content) %></p>
					<ul class="list-inline list-unstyled">
						<li><span><i class="glyphicon glyphicon-calendar"></i> <%= link_to(time_ago_in_words(tweet.created_at), "/tweets/#{tweet.id} ") %></span></li>
						<% if current_user %>
						<li><span><i class="glyphicon glyphicon-star"></i> 
							<% unless current_user.favorite_tweets.exists?(id: tweet.id) %>
								<%= link_to 'Ajouter aux favoris', favorite_tweets_path(tweet_id: tweet), method: :post %>
							<% else -%>
								<%= link_to 'Supprimer des favoris', favorite_tweet_path(tweet), method: :delete %>
							<% end %>
						</span></li>
						<% end %>
						<li><span><i class="glyphicon glyphicon-music"></i> <%= tweet.music.name %></span></li>
						<li><span><i class="glyphicon glyphicon-globe"></i> <%= tweet.place.name %></span></li>
					</ul>
				</div>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-md-2"></div>
</div>








