<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1><%= @user.username %></h1>
      <span><%= link_to "view my profile", @user %></span>
      
    </section>
    
  </aside>
</div>

<!--   le reste ici : https://www.railstutorial.org/book/following_users#code-show_follow_view --> 