<div class="row">

	<div class="col-md-3">
		<% if current_user %>
		<div class="leftSide">
			<div class="avatar">	
				<%= image_tag @user.avatar.url(:thumb) %>
			</div>
			<h2><%= @user.first_name %> <%= @user.last_name %></h2>
			<h2>@<%= @user.username %></h2>
			<p>Nombre de following : </p>
			<div class="nb"><%= @user.following.count %></div>
			<p>Nombre de followers : </p>
			<div class="nb"><%= @user.followers.count %></div>
		</div>
		<% end %>
	</div>
	<div class="col-md-7 centerSide searches">	
		<div class="searchForm">
			<h1>Résultats pour #<%= params[:hashtag] %></h1>
		</div>
		<% if @hashtagged %>
		<% @hashtagged.each do |hashtagged| %>
		<div class="well">
			<div class="media">
				<a class="pull-left" href="#">
					<div class="avatarSmall">
						<%= image_tag hashtagged.user.avatar.url(:small) %>
					</div>
				</a>
				<div class="media-body">
					<h4 class="media-heading"><%= "#{hashtagged.user.first_name} #{hashtagged.user.last_name}"%> <small><%= link_to( "@#{hashtagged.user.username} " , "/users/#{hashtagged.user.id} ")%></small> </h4>
					<p><%= content_hashtag_link(hashtagged.content) %></p>
					<ul class="list-inline list-unstyled">
						<li><span><i class="glyphicon glyphicon-calendar"></i> <%= link_to(time_ago_in_words(hashtagged.created_at), "/tweets/#{hashtagged.id} ") %></span></li>
						<% if current_user %>
						<li><span><i class="glyphicon glyphicon-star"></i> 
							<% unless current_user.favorite_tweets.exists?(id: hashtagged.id) %>
							<%= link_to 'Add to favorites', favorite_tweets_path(tweet_id: hashtagged), method: :post %>
							<% else -%>
							<%= link_to 'Remove from favorites', favorite_tweet_path(hashtagged), method: :delete %>
							<% end %>
						</span></li>
						<% end %>
						<li><span><i class="glyphicon glyphicon-music"></i> <%= hashtagged.music.name %></span></li>
						<li><span><i class="glyphicon glyphicon-globe"></i> <%= hashtagged.place.name %></span></li>
					</ul>
				</div>
			</div>
		</div>
		<% end -%>
		<% else -%>
		<p>There is no match for the <em><%= params[:hashtag] %></em> hashtag.</p>
		<% end -%>

	</div>

	<div class="col-md-3">

	</div>	
</div>
