<div class="connectionForm">
<h2>Connexion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :pseudo %><br />
    <%= f.text_field :login, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :mot_de_passe %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :se_souvenir %>
    </div>
  <% end -%>


    <b><%= f.submit "Connexion" %></b>

<% end %>


</div>
