/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter/_bootstrap
 *= require_self
 */

@font-face {
    font-family: "MastocPersonalUseOnly";
    src: url('/assets/Mastoc_PersonalUseOnly.ttf');
}

body {
  padding-top: 60px;
	background: url("login_img_background.jpg") no-repeat;
	background-size: cover;
}
// Landing Page

.logo-metronome {
	img {
	width: 80px;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: 15%;		
	}

}
.btnLogo {
		a {
		color: white !important;
	}
	/* Metronome: */
	transform: rotate(-3deg);
	font-family: MastocPersonalUseOnly;
	font-size: 68px;
	color: white;
	line-height: 20px;
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;

}
.separateur{
	height: 2px;
	width: 231px;
	border: none;
	border-top: solid 1px #50E3C2;
	/* margin-bottom: 20px; */
	margin-top: 37px;
}

h2{
	font-family: HelveticaNeue-Bold;
	font-size: 44px;
	color: #FFFFFE;
	letter-spacing: 1.09px;
	line-height: 55px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);	
}

.baseline {
	font-family: HelveticaNeue;
	text-align: center;
}

// Header 

.navbar-inverse{
	background-color: white;
	border-color: #D6D3D3;
}

.btnHome img {
	margin-top: -5px;
	width: 34px;
}

.btnIcone {
	margin-top: 12px;
	margin-left: 500px;
	text-align: center;
	display: block;	
}

.btnActu  a {
	color: #D6D3D3 !important;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-top: 13px !important;
	color: #D6D3D3;
	margin-left: 400px;
}

.btn {/* Rectangle 5: */
	background: #50E3C2;
	border-radius: 3px;
	height: 32px;
	width: 112px;
	margin-right: 11px;
	color: white;
}

.delete .btn {
	background-color: red;
}

   .connection {
	/* Se connecter/S'inscrire */
	font-family: HelveticaNeue-Bold;
	font-size: 13px;
	line-height: 16px;
	margin-top: 8px ;
	color: white !important;

		a{
			color: white !important;
			padding: 0 !important;
		}
		// Plume (Btn Poster)
		img {
			float: left;
			margin-top: 1px;
		}

	}

a {
	text-decoration:none; 
		
}
.tt-dropdown-menu{
	background-color: white;
	cursor: pointer;
	width:100%;
	color: #777777;
	padding-left: 10px;
	border: solid 1px #777777;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;

}
.tt-dropdown-menu a{
	color: #777777;	
}	
.tt-dropdown-menu a:hover{
	color: #50E3C2;	

}	

// Log In & Sign Up

.connectionForm {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin: 0 auto;
	color: white;
	display: block;
	text-align: center;
	width: 400px;
	margin-top: 50px;
	padding-bottom: 30px;
	padding-top: 1px;

	.field{
		text-align: left;
		margin-left: 100px;
	}

	input[type="submit"] {
		background: #50E3C2;
		border-radius: 3px;
		height: 32px;
		width: 112px;
		color: white;	
		border:none;
		margin-top: 20px;	
	}

	input[type="text"], input[type="email"], input[type="password"] {
		border-radius: 3px;
		margin-top: 5px;
		/* padding-right: 4px; */
		margin-bottom: 5px;
		height: 27px;
		width: 189px;
		color: #A5A5A5;
		border: none;
		padding-left: 10px;

	}	
	a {
		color:white;
	}
}



// Header(logged)
.btnHeadMenu {
	color:#777777;
	background-color: white !important;

	a:active {
		color:#777777 !important;
	}
}

.btnHeadMenu:hover {
	color:#50E3C2 !important;
	background-color: white !important;
}



// Profil

.avatar{
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 3px white solid;
  border-radius: 15px;

  img {
	  position: absolute;
  }
}

.avatarSmall{
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 3px white solid;
  border-radius: 15px;

  img {
	  position: absolute;
  }
}

.leftSide {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	color: white;
	display: block;
	margin-top: 20px;
	padding-bottom: 30px;
	padding-top: 20px;	

	h2 {
		color: white;
		text-decoration: none;
		text-shadow: none;
		font-size: 20px;
	    letter-spacing: 0px;
	    text-align: center;
	    line-height: 5px;

	}

	p {
	    text-align: center;
	    margin-top: 30px;
	}

	.nb {
		margin-top: 25px;
		text-align: center;
		font-family: HelveticaNeue-Medium;
		font-size: 38px;
		color: #50E3C2;
		line-height: 10px;
	}

	.btn {
		margin: 0 auto;
		text-align: center;
		display: block;
		margin-top: 40px;
	}
}

// Tweets 

.centerSide {
	margin-top: 20px;

	.well {
		border: 1px solid #A4F1E0;		
	}

	a {
		color: #50E3C2;		
	}	

	.btn:hover {
		background-color: #50E3C2;	
		color:white;	
	}

	.tt-dropdown-menu{
		background-color: white;
		cursor: pointer;
		width:100%;
		color: #777777;
		padding-left: 10px;
	    border: solid 1px #777777;
	    border-bottom-left-radius: 5px 5px;
	    border-bottom-right-radius: 5px 5px;
	    text-align: none;

	}

	.tt-dropdown-menu:hover{
		color: #50E3C2;	
	}	

}

// tweet Form

.tweetForm {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin: 0 auto;
	color: white;
	display: block;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;


	input[type="submit"] {
		background: #50E3C2;
		border-radius: 3px;
		height: 32px;
		width: 112px;
		color: white;	
		border:none;
		margin-top: 20px;	
		margin-left: 30px;
	}	

	textarea {
		border-radius: 3px;
		height: 100px;
		resize: none;
		width:90%;
		color: #777777;	
		border:none;
		padding-top: 5px;
		padding-left: 10px;
		margin-top: 20px;	
	}	

	select {
		border-radius: 3px;
		height: 32px;
		width: 112px;
		color: #777777;	
		border:none;
		margin-top: 20px;			
	}	
}

// Search Form

.searchForm {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin: 0 auto;
	color: white;
	display: block;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;
	margin-bottom: 20px;

}









