// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 400px;
	margin-top: 50px;
}

.avatar{
  position: relative;
  width: 360px;
  height: 240px;
  overflow: hidden;
  border: 1px red solid;
}
