<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="btnHome"><%= link_to image_tag("home_grey.svg"), landing_path, class: 'navbar-brand' %></div>          
        </div>

        <div id="navbar" class="navbar-collapse collapse ">
          <ul class="nav navbar-nav">
            <div class="btnIcone"><%= link_to image_tag("icone-metronome.svg"), tweets_path%></div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btnHeadMenu" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Profil", "#{users_path}/#{current_user.id}" %></li>
                <li><%= link_to "Actualité", tweets_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Editer son profil", edit_user_registration_path %></li>
                <li><%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %></li>
              </ul>
              <li class="btn connection"><%= image_tag "plume.svg" %><%= link_to "Poster", tweets_new_path %></li>
            </li>
          </ul>

          <form class="navbar-form navbar-right">
            <input type="text" class="form-control input-hashtags-mentions" placeholder="Rechercher...">
          </form>

        </div><!--/.nav-collapse -->



      </div>
    </nav>