    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="btnHome"><%= link_to image_tag("home_grey.svg"), landing_path, class: 'navbar-brand' %></div>
        </div>

        <div id="navbar" class="navbar-collapse collapse ">
          <ul class="nav navbar-nav navbar">
          <div class="btnIcone"><%= link_to image_tag("icone-metronome.svg"), tweets_path%></div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="btn connection"><%= link_to "S'inscrire", new_user_registration_path %></li>
            <li class="btn connection"><%= link_to "Se connecter", new_user_session_path %></li>
          </ul>

          <form class="navbar-form navbar-right">
            <input type="text" class="form-control input-hashtags-mentions" placeholder="Rechercher...">
          </form>

        </div><!--/.nav-collapse -->




      </div>
    </nav>