<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Twittby</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  </head>

  <body>
  
  	<%= 
  	if current_user
		render "layouts/header_logged"
	else
		render "layouts/header"
	end 
	%>

	<div class="container">
		<% if notice %>
	 		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
	  		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<%=yield %>
</div><!-- /.container -->
</body>
</html>
